.pokemon-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media screen and (min-width: 640px) {
  .pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #aaa3a3;
  border-radius: 5px;
  padding: 10px;
  /* box-shadow: 2px 5px 4px rgba(148, 122, 122, 0.1); */
  box-shadow: 0px 4px 8px rgba(0, 0, 0.2, 0.4);

  height: 90%;
}

.pokemon-image {
  width: 100%;
  height: 180px; /* Change this height to suit your design */
  object-fit: cover;

}

.pokemon-number {
  font-weight: bold;
  margin-bottom: 2px;
}

.pokemon-name {
  margin-bottom: 2px;
}

.pokemon-types {
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadmore {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #0070f3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.loadmore:hover {
  background-color: #0062cc;
}
